<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="banner-div">
        <img src="../static/images/qis_banner.png" alt="noImg">
    </div>
    
    <div class="delete-div">
        <form action="" method="post" onsubmit="alert('deleted')">
            <form action="" method="post" >
            <input type="number" placeholder="ID" name="id" required>
            <button type="submit">DELETE</button>
        </form>
    </div>
    <script src="../static/js/style.js"></script>

</body>
</html>