
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="banner-div">
        <img src="../static/images/qis_banner.png" alt="noImg">
    </div>
    
    <div class="register-div">
        <form action="" method="post" onsubmit="alert('registed')">
            <input type="number" name="id" required placeholder="ID"><br>
            <input type="text" name="name" required placeholder="Name"><br>
            <input type="email" name="email" required placeholder="Email"><br>
            <input type="number" name="phone" required placeholder="Phone"><br>
            <input type="number" name="percentage" required placeholder="Inter Percentage"><br>
            <input type="number" name="rank" required placeholder="Eamcet Rank"><br>
            <input type="text" name="course" required placeholder="Course Interested"><br>
            <input type="text" name="address" required placeholder="Address"><br>
            <button type="submit">Register</button>
        </form>
    </div>
    <script src="../static/js/style.js"></script>

</body>
</html>
