<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="banner-div">
        <img src="../static/images/qis_banner.png" alt="noImg">
    </div>
    
    <div class="update-div">
        <form action="" method="post" onsubmit="alert('updated')">
            <form action="" method="post" >
            <input type="number" placeholder="ID" name="id" required>
            <select name="field" required>
                <option value="name">change name</option>
                <option value="email">change email</option>
                <option value="phone">change phone</option>
                <option value="percentage">change inter percentage</option>
                <option value="rank">change eamcet rank</option>
                <option value="course">change course</option>
                <option value="address">change address</option>
            </select>
            <input type="text" placeholder="New Data" required name="new_data">
            <button type="submit">Update</button>
        </form>
    </div>
    <script src="../static/js/style.js"></script>
</body>
</html>